* {
    box-sizing: border-box;
}
body {
    font-family: $font-family-base;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
.page-wrapper {
    // padding: 30px 0;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
hr {
    border-top: 1px solid firebrick;
}

.fsz-sm {
    font-size: $fsz-sm;
}

.h-100-vh {
    height: 100vh;
}

.btn {
    &:hover {
        text-decoration: none;
    }
}