# This workflow will install a prebuilt Ruby version, install dependencies, and
# run tests and linters. Then it pulls new features from my repo and
# rebuild containers on remote server through ssh.

name: "Parser CI-CD"
on:
  push:
    branches: ["master"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Run command on remote server
        uses: D3rHase/ssh-command-action@v0.2.2
        with:
          host: ${{secrets.SSH_HOST}}
          user: ${{secrets.SSH_USER}}
          private_key: ${{secrets.SSH_PRIVATE_KEY}}
          command: |
            export PATH=$PATH:/${{secrets.SSH_USER_NAME}}/.nvm/versions/node/v20.2.0/lib/node_modules/pm2/bin/pm2;
            cd /opt/Apps-parser-master;
            git checkout master;
            git pull;
            pm2 stop npm;
            pm2 start npm -- run dev;
